<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice API</title>
      <link rel="shortcut icon" href="https://cdn.freecodecamp.org/universal/favicons/favicon-32x32.png" type="image/x-icon"/>
      <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/2003-04-22">[project url]/api/2003-04-22</a></li>
        <li><a href="api/1051002500000">[project url]/api/1051002500000</a></li>
      </ul>

      <h3>Example Output:</h3> Apr 22 2003
      <p>
        <code>{"unix":1051002500000, "utc":"Tue, 22 Apr 2003 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a href="https://kevabra.github.io/PersonalWebsite/">Kevin Abrahams</a>
      </p>
    </div>
  </body>
</html>
